.btn {
    
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: var(--primary-color);
    color: var(--color-white);
    cursor: pointer;

    &:hover {
      background-color: var(--color-error-dark);
    }
    &.next-space{
        margin-right: 10px;
    }
    &.type1 {
        background-color: var(--color-success);
  
        &:hover {
          background-color: var(--color-success-dark)
        }
      }
  
    &.type2 {
        background-color: var(--color-error);
  
        &:hover {
            background-color: var(--color-error-dark);
        }
      }
    &.small{
      padding: 5px 10px;
    }
}