.btn {
    
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
    &.next-space{
        margin-right: 10px;
    }
    &.type1 {
        background-color: #28a745;
  
        &:hover {
          background-color: #218838;
        }
      }
  
    &.type2 {
        background-color: #dc3545;
  
        &:hover {
          background-color: #c82333;
        }
      }
    &.small{
      padding: 5px 10px;
    }
}