:root {
    --color-white:#ffffff;
    --color-black:#000000;
    --color-primary: #007bff;
    --color-primary-dark: #0056b3;
    --color-success:#28a745;
    --color-success-dark:#28a745;
    --color-error:#dc3545;
    --color-error-dark:#c82333;
    --color-bg:#444444;
    --color-bg-border:#dddddd;
  }